/**
 * 4.0 Header
 * ----------------------------------------------------------------------------
 */

.site-header {
	box-shadow: inset rgba(0, 0, 0, .10) 0 -4px 0;

	-webkit-transition: all 0.3s;
	-moz-transition:    all 0.3s;
	transition:         all 0.3s;
}

.site-header .container {
	position: relative;
	padding: 1.5em;
}

.site-branding {
	float: left;
}

.site-branding:hover {
	text-decoration: none;
}

.site-header.open .site-branding {
	float: none;
}

.site-title {
	font: bold 22px/normal 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0 36px 0 0;
	padding: 0;
}

.site-title img {
	max-width: 100%;
	height: auto;
}

.primary-menu-toggle {
	float: right;
	right: 0;
	position: absolute;
	top: 50%;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.site-header.open .primary-menu-toggle {
	float: none;
	position: relative;

	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

.site-description {
	display: none;
}

.primary-menu-toggle i:before {
	font-size: 36px;
	margin-top: 4px;
}

.site-primary-navigation,
.site-header.open .primary-menu-toggle.in-header {
	display: none;
}

.site-header.open .site-primary-navigation {
	display: block;
	clear: both;
	margin-top: 2em;
}

.site-header.open .primary-menu-toggle,
.site-header.open .primary-menu-toggle span,
.site-header.open .primary-menu-toggle i {
	float: none;
	vertical-align: middle;
	display: inline-block;
}

.site-header.open .primary-menu-toggle span {
	padding-top: 4px;
}

.site-primary-navigation #searchform {
	margin: 1em 0;
}

.site-primary-navigation #searchform div {
	position: relative;
}

.site-primary-navigation #searchform input[type="text"] {
	padding-left: 40px;
	color: #fff;
	width: 100%;
	height: 40px;
	background: rgba(0, 0, 0, .10);
	border-radius: 20px;
	border: 0;
}

.site-primary-navigation #searchform button {
	padding: 2px 5px;
	line-height: 39px;
	font-size: 23px;
	background: none;
	left: 0;
	position: absolute;
	border: 0;
}

.site-primary-navigation #searchform button:hover {
	border: 0;
}

.site-header.open .site-primary-navigation .nav-menu-primary {
	margin: 2em 0;
	padding: 0;
}

.nav-menu-primary li {
	margin: 8px 0;
}

.nav-menu-primary li a {
	font: 400 20px 'Varela Round',sans-serif;
	text-transform: none;
	padding: 10px 0;
}

.nav-menu-primary li .sub-menu {
	padding-left: 1em;
}

.nav-menu-primary li .sub-menu a {
	font-size: 16px;
}