/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

#page {
	overflow-x: hidden;
}

.site-main,
.footer-cta,
.site-footer {
	position: relative;
	z-index: 2;
}

.site-header {
	position: relative;
	z-index: 3;
}